@charset "utf-8";
/* @import "main.css" */
/* 초기화 */ 
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dd, figure, th, td, form, fieldset, input { margin: 0; padding: 0;}
table { border-collapse: collapse;}
fieldset, img { border: 0;}
li { list-style: none;}
a { text-decoration: none;}
address { font-style: normal;}
hr { display: none;}
.hidden { position: absolute; left: -9999px;}
/* 웹폰트 segoeui */
@font-face {
    font-family: segoeui;
    src: url(../webfont/segoeui.ttf),
        url(../webfont/segoeui.eot),
        url(../webfont/segoeui.woff);
}
body { min-width: 1000px; font-family: "Segoe UI", segoeui, sans-serif;}
/* header */
#header { position: relative; width: 1000px; height: 187px; margin: 0 auto;}
#header h1 { width: 249px; padding: 90px 0 0 50px; }
#header h1 a { display: block; height: 50px; text-indent: -5000px;
            background: url(../images/logo.png) no-repeat;}
/* membership */
#membership { position: absolute; top: 18px; right: 80px; }
#membership ul li { position: relative; float: left; }
#membership ul li.goLogin { padding-right: 9px; }
#membership ul li.goLogin::after { content: ""; 
                                position: absolute; top: 7px; right: 0; 
                                height: 11px; border-right: 1px solid #bea082;}
#membership ul li.goJoin { padding-left: 9px;}
#membership ul li.goJoin::before { content: ""; position: absolute; top: 7px; left: 0; 
                                height: 11px; border-left: 1px solid #bea082;}
#membership ul li a { color: #333; font-size: 14px;}
/* gnb */
#gnb { position: absolute; top: 106px; right: 40px;}
#gnb ul li { float: left; margin-left: 10px;}
#gnb ul li a { padding: 0 10px 10px; 
             text-transform: uppercase;
             color: #333; }
#gnb ul li a:hover { border-bottom: 3px solid #00bff3;}
/* footer */
#footerWrap { margin-top: 55px; border-top: 1px solid #a0a0a0;}
#footer { overflow: hidden; width: 720px; margin: 0 auto; background: url(../images/logoFooter.png) no-repeat 55px 23px; padding: 23px 76px 20px 204px;}
#footer .info { margin: 55px 23px; float: left;}
#footer .sns { height: 33px; margin-right: 76px; float: right;}
#footer .sns li { width: 33px; height: 33px; float: left; margin-left: 17px;}
#footer .sns li a { display: block; width: 33px; height: 33px; background: url(../images/bgSns.png) no-repeat; text-indent: -5000px; }
#footer .twitter a { background-position-x: right; }