@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, p, ul { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none;}
address { font-style: normal;}
small { font-size: 1em;}
/* 웹폰트 - notosans kr */
body { font-family: 'Noto sans KR', sans-serif;}
/* 헤더 */
#header { height: 42px; line-height: 40px; color: #fff;}
#header h1 { text-align: center; 
            background: linear-gradient(to bottom, rgba(124, 1, 1, 0.938) 0%, red 100%);}
#header a { position: absolute; top: 4px; text-indent: -5000px; background: url(../sprites.png) no-repeat;}
#header .btn { left: 4px; width: 62px; height: 32px; }
#header .toggle { right: 4px; width: 32px; height: 32px; 
                background-position-x: right;}
/* toggle gnb */
#toggleGnb { padding: 20px; background: #808080; }
#toggleGnb ul { overflow: hidden; background: #fff;}
#toggleGnb ul li { width: 80px; height: 30px; float: left;}
#toggleGnb ul li a { color: #333;}
/* top gnb */
#topGnb { height: 35px; border-bottom: 2px solid #000;}
#topGnb ul { }
#topGnb ul li { width: 25%; height: 35px; float: left; }
#topGnb ul li a { display: block; height: 35px; 
                text-align: center; line-height: 35px;
                background: rgb(94, 16, 16); color: #fff; }
#topGnb ul li a:hover { background: #aab61a;}
/* bottom gnb  */
#bottomGnb { height: 35px; border-bottom: 1px solid #000;}
#bottomGnb ul li { width: 20%; height: 35px; float: left;}
#bottomGnb ul li a { position: relative; display: block; height: 35px;
                    text-align: center; line-height: 35px; 
                    background: #fff; color: #333; }
#bottomGnb ul li a::after { content: ""; position: absolute; top: 10px; left: -1px; 
                        height: 15px; border-right: 1px solid #000;}
/* 컨텐츠 */
#content { }
#contentHeader { padding: 25px 15px;}
#content p { margin: 0 7px 10px; }


/* footer */
#footer { padding: 20px 0; 
        border-top: 3px solid #000; 
        text-align: center;}
#footer address { font-size: 17px; font-weight: bolder;}
#footer small { font-weight: inherit;}

